.col-2
  .sideNavBox
    -if @conversations.blank?
      %strong This is where you can message other users!
    -else
      -@conversations.each do |c|
        .list-group-flush.sideNav.list-group-item
          =link_to c.other_party_name(current_user.id), conversation_path(c), :class => "text-secondary"