=form_with(model: [@conversation, @message]) do |form|
  .row
    .col-2
      .sideNavBox
        -if @conversations.blank?
          %strong This is where you can message other users!
        -else
          -@conversations.each do |c|
            .list-group-flush.sideNav.list-group-item
              =link_to c.other_party_name(current_user.id), conversation_path(c), :class => "text-secondary"
    .col-10
      -@messages.each do |m|
        .row.col.my-1
          %strong
            =m.user.name
        .row.col
          =m.body
      .row.my-2
        .col-10
          .form-group.message-form.mt-auto
            = form.text_area :body, :class => "form-control", :placeholder => "Message #{@conversation.other_party_name(current_user.id)}..."
        .col-2
          = form.submit "Send", :class => "btn btn-success m-auto"