=form_with(model: [@conversation, @message]) do |form|
  .row
    = render "conversation_sidebar", conversation: @conversation
    .col-9
      -if @messages.blank?
        %p.my-3 Say something and you'll see your messages here
      -@messages.each do |m|
        .row.col.mt-3
          -if current_user == m.user
            %strong.text-secondary=m.user.name
          -else
            %strong=m.user.name
        .row.col.mb-3
          =m.body
      .row.my-2
        .col-10
          .form-group.message-form.mt-auto
            = form.text_area :body, :class => "form-control", :placeholder => "Message #{@conversation.other_party_name(current_user.id)}..."
        .col-2
          = form.submit "Send", :class => "btn btn-success m-auto"