=form_with(model: [@conversation, @message]) do |form|
  .row.no-gutters
    -unless params[:collapsed]
      .col-5.col-sm-3
        = render "conversation_sidebar"
    .col
      .message-area
        -if params[:collapsed]
          =link_to ">", conversation_path(@conversation), class: "btn btn-sm btn-secondary btn-small p-0"
        -else
          =link_to "<", conversation_path(@conversation, collapsed: true), class: "btn btn-sm btn-secondary btn-small p-0"
        -if @messages.blank?
          %p.ml-3 Say something and you'll see your messages here
        -@messages.each do |m|
          -if current_user != m.user
            .row.mx-1
              .col
                %strong=m.user.name
            .row.mx-1
              .col
                =m.body
          -else
            .row.mx-1
              .col.text-right
                %strong=m.user.name
            .row.mx-1
              .col.text-right
                =m.body
        .row.mx-1.mt-4
          .col-12.col-sm-10
            .form-group.message-form
              = form.text_area :body, :class => "form-control", :placeholder => "Message #{@conversation.other_party_name(current_user.id)}..."
          .col
            = form.submit "Send", :class => "btn btn-success"