=form_with(model: [@conversation, @message]) do |form|
  .row
    = render "conversation_sidebar", conversation: @conversation
    .col-10
      -@messages.each do |m|
        .row.col.my-1
          %strong
            =m.user.name
        .row.col
          =m.body
      .row.my-2
        .col-10
          .form-group.message-form.mt-auto
            = form.text_area :body, :class => "form-control", :placeholder => "Message #{@conversation.other_party_name(current_user.id)}..."
        .col-2
          = form.submit "Send", :class => "btn btn-success m-auto"