=form_for @user do |form|
  .row.col.mb-5
    %h1 Account
  .row.col
    .col-1
    .col-4.pr-0
      %h3 Account info:
      .row.col.form-group
        = form.text_field :name, :class => "form-control", :placeholder => "Name"
      .row.col.form-group
        = form.text_field :PDGA_num, :class => "form-control", :placeholder => "PDGA number"
      .row.col.form-group.mt-5.mb-3
        %h4 Bio:
        =form.text_area :bio, rows: "5", :class => "form-control", :placeholder => "What's interesting about you?"
      .row.col.ml-5
        = link_to "Change email/password", edit_user_registration_path, :class => "btn btn-secondary"
    .col-2
    .col-4
  = form.submit :Save, :class => "btn btn-primary"

  
