.row.mt-3
  .col-6
    %h1
      =@user.name
      -if current_user != @user
        =link_to "Message", conversations_path(:conversation => {:sender_id => current_user.id, :receiver_id => @user.id}), method: :post, :class => "btn btn-success"
        -if Follow.where("user_id = ? AND following_id = ?", current_user.id, @user.id).blank?
          =link_to "Follow", follows_path(user_id: current_user.id, following_id: @user.id), method: :post, class: "btn btn-primary"
        -else
          =link_to "Unfollow", follows_path(user_id: current_user.id, following_id: @user.id), method: :delete, class: "btn btn-primary"
  .col-6.text-right.mt-3
    %p=@user.bio
.row
  - @bags.each do |bag|
    .col-3.my-3
      .card
        .card-header
          =bag.name
        .card-image-top.text-center
          = link_to image_tag('default_bag.png', size: "250x250"), bag_path(bag)
.row
  - @discs.each do |disc|
    .col-3.my-3
      = render "shared/display_disc_picture_as_link", disc: disc, path: disc
  -if @discs.blank?
    %h5.m-3 This user hasn't added anything to their collection yet.