.row.mt-3
  .col-4
    %h1
      =@user.name
      -if current_user != @user
        =link_to "Message", conversations_path(:conversation => {:sender_id => current_user.id, :receiver_id => @user.id}), method: :post, :class => "btn btn-success"
  .col-8.text-right.mt-3
    %p=@user.bio
.row
  - @bags.each do |bag|
    .col-3.my-3
      .card
        .card-header
          =bag.name
        .card-image-top.text-center
          = link_to image_tag('default_bag.png', size: "250x250"), bag_path(bag)
.row
  - @discs.each do |disc|
    .col-3.my-3
      = render "shared/display_disc_picture_as_link", disc: disc, path: disc