.card
  .card-header.text-center
    Flight Chart
  .card-image-top.text-center
    -if disc.flight_chart_id.blank?
      %strong.text-center No flight chart found
      .row
        -image_link = "https://via.placeholder.com/300x400/FFFFFF/FFFFFF"
    -else
      -image_link = "http://www.inboundsdiscgolf.com/content/WebCharts/" + disc.flight_chart_id.to_s + ".png"
    =image_tag(image_link, class: "img-fluid")