.card
  -if @disc.nickname.present?
    .card-header.text-center
      =@disc.nickname
  .row
    .col-1
    .col-10
      = render "shared/display_disc_picture", disc: @disc
  .card-body
    .card-title.text-center
      =@disc.plastic_type
      = "#{@disc.model},"
      =@disc.brand
  %ul.list-group.list-group-flush
    %li.list-group-item.text-center
      -if @disc.speed
        =@disc.speed
      -else
        X
      \/
      -if @disc.glide
        =@disc.glide
      -else
        X
      \/
      -if @disc.turn
        =@disc.turn
      -else
        X
      \/
      -if @disc.fade
        =@disc.fade
      -else
        X

    %li.list-group-item
      condition:
      =@disc.condition
    %li.list-group-item
      weight:
      =@disc.weight
    %li.list-group-item
      color:
      =@disc.color
  .card-body
    .card-text
      description:
      %br
      =@disc.description