.card
  .card-image-top.text-center
    -#set the width based on the view
    -if params[:action] == "show" && (controller_name == "discs" || controller_name == "offers")
      -width = "width:80%"
    -elsif params[:action] == "edit" && controller_name == "discs"
      -width = "width:75%"
    -else
      -width = "width:100%"
    -# discplay the picture of the disc a link
    -if disc.picture.attached?
      = link_to image_tag(disc.picture, style: width ), path
    -else
      = link_to image_tag('blank_disc.jpg', style: width), path