= form_for @bag do |form|
  .row
    .col-4
      %h1 New Bag
    .col-4.my-5
      .form-group.ml-3
        =form.text_field :name, :class => "form-control", placeholder: "Give it a name"
      =render "shared/display_bag_picture", bag: @bag
  .row
    = link_to "Cancel", bags_path, :class => "btn btn-lg btn-danger mx-auto"
    = form.submit "Add some discs", :class => "btn btn-lg btn-primary mx-auto", :name => "bag_edit"
    = form.submit "Finish bag", :class => "btn btn-lg btn-success mx-auto"