= form_for @bag do |form|
  .row
    .col-12.col-sm-4
      %h1 New Bag
    .col-12.col-sm-4.mt-5
      .form-group
        =form.text_field :name, :class => "form-control", placeholder: "Give it a name"
      =render "shared/display_bag_picture", bag: @bag
  .row
    .col-0.col-sm-4
    .col
      = link_to "Cancel", bags_path, :class => "btn btn-danger mx-2"
      = form.submit "Add discs", :class => "btn btn-primary mx-2", :name => "bag_edit"
      = form.submit "Finish bag", :class => "btn btn-success mx-2"