.row.mt-4
  .col-0.col-sm-4
  .col.text-center
    %h1=@bag.name
    = render "shared/display_bag_picture", bag: @bag
  .col
    -if user_signed_in? && @bag.user_id == current_user.id
      =link_to "Back", :back, class: "btn btn-success ml-auto"
      =link_to "Edit bag", edit_bag_path(@bag), :class => "btn btn-primary mx-auto"
.row
  - @slots.each do |slot|
    .col-4.col-sm-3.my-3
      =render "shared/display_disc_picture_as_link", disc: slot.disc, path: slot.disc