.row.mt-4
  .col-4
  .col-3.text-center
    %h1=@bag.name
    =image_tag('default_bag.png', size: "300x300")
  .col
    =link_to "Edit bag", edit_bag_path(@bag)
.row
  - @slots.each do |slot|
    .col-3.my-3
      .card
        .card-image-top.text-center
          =slot.position
          -if slot.disc.picture.attached?
            = link_to image_tag(slot.disc.picture, size: "250x250"), slot.disc
          -else
            = link_to image_tag('blank_disc.jpg', size: "250x250"), slot.disc