.row.mt-4
  .col-4
  .col-3.text-center
    %h1=@bag.name
    =image_tag('default_bag.png', size: "300x300")
  .col
    =link_to "Edit bag", edit_bag_path(@bag)
.row
  - @bag.discs.each do |disc|
    .col-3.my-3
      .card
        .card-image-top.text-center
          -if disc.picture.attached?
            = link_to image_tag(disc.picture, size: "250x250"), disc
          -else
            = link_to image_tag('blank_disc.jpg', size: "250x250"), disc