.row.mt-5
  .col-6.offset-3
    %strong The flight chart feature is still being developed.
    %p 
      In the meantime, you can attatch a flight chart to your disc by going to
      =link_to "inbounds disc golf", "http://www.inboundsdiscgolf.com/content/?page_id=431", target: "_blank"
    %p
      Find your disc and hover over the arrow in the position column for your disc.
      In the lower left-hand corner of your browser, you should see a 7-digit number.
      This is the flight chart ID. This will allow us to display the flight chart for you!
    =link_to "Back", :back, class: "btn btn-success"