-# %h1 My Discs
-# - @discs.each do |disc|
-#   = disc.plastic_type
-#   = disc.model

-#   %td= link_to 'Show', disc
-#   %td= link_to 'Edit', edit_disc_path(disc)
-#   %td= link_to 'Destroy', disc, method: :delete, data: { confirm: 'Are you sure?' }
-#   %br/
-# = link_to 'New Disc', new_disc_path
.row.mt-3
  .col-5
    %h1 My Discs
  .col-2.my-auto
    = link_to 'New Disc', new_disc_path, :class => "btn btn-lg btn-success"
.row
  - @discs.each do |disc|
    .col-3.my-3
      .card
        .card-image-top.text-center
          -if disc.picture.attached?
            = link_to image_tag(disc.picture, size: "250x250"), disc
          -else
            = link_to image_tag('blank_disc.jpg', size: "250x250"), disc
        
