.container
  .row
    .col-6
      .my-5.ml-3
        .row.my-5
          .col
            %h3 Offer Details: 
            .card
              .card-header
                Seller: 
                %strong=@offer.user.name
              .card-body.card-text
                =@offer.description
        .card
          .card.card-header.text-center
            Flight Chart
          .card-image-top.text-center
            =image_tag('default_flight_chart.png')
      =link_to "Back", :back, :class => "btn btn-lg btn-success mx-3"
      -if current_user.id != @offer.user_id
        =link_to "Message Seller", conversations_path(:conversation => {:sender_id => current_user.id, :receiver_id => @offer.user_id}), method: :post, :class => "btn btn-lg btn-success mx-3"
      -else
        =link_to "Edit Offer", edit_offer_path(@offer), :class => "btn btn-lg btn-success mx-3"
    .col-6
      .my-5.ml-3
        = render "shared/display_disc_info", disc: @disc