.container
  .row
    .col-6
      .my-5.ml-3
        .row.my-5
          .col
            %h3 Offer Details: 
            .card
              .card-header
                Seller: 
                %strong=@offer.user.name
              .card-body.card-text
                =@offer.description
        .card
          .card.card-header.text-center
            Flight Chart
          .card-image-top.text-center
            =image_tag('default_flight_chart.png')
      =link_to "Back", offers_path, :class => "btn btn-lg btn-success mx-3"
      -if current_user.id != @offer.user_id
        =link_to "Message Seller", "", :class => "btn btn-lg btn-success mx-3"
      -else
        =link_to "Edit Offer", edit_offer_path(@offer), :class => "btn btn-lg btn-success mx-3"
    .col-6
      .my-5.ml-3
        .card
          -if @disc.nickname.present?
            .card-header.text-center
              =@disc.nickname
          .card-image-top.text-center
            -if @disc.picture.attached?
              =image_tag(@disc.picture, size: "320x320")
            -else
              =image_tag('blank_disc.jpg', size: "320x320")
          .card-body
            .card-title.text-center
              =@disc.plastic_type
              = "#{@disc.model},"
              =@disc.brand
          %ul.list-group.list-group-flush
            %li.list-group-item.text-center
              -if @disc.speed
                =@disc.speed
              -else
                X
              \/
              -if @disc.glide
                =@disc.glide
              -else
                X
              \/
              -if @disc.turn
                =@disc.turn
              -else
                X
              \/
              -if @disc.fade
                =@disc.fade
              -else
                X

            %li.list-group-item
              condition:
              =@disc.condition
            %li.list-group-item
              weight:
              =@disc.weight
            %li.list-group-item
              color:
              =@disc.color
          .card-body
            .card-text
              description:
              %br
              =@disc.description
